@import "./mixin.scss";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
}

:root {
  --blueBgColor: #095985;
  --redBgColor: #e40e20;
  --whiteBgColor: #fff;
  --textColor: #333;
  --darkBgColor: #3e474f;
  --subBgColor: #1f252b;
  --transition: 1s all ease-in-out;
  overflow-x: hidden;
}

.wholePageWrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  min-height: 84.6vh;

  .leftPageWrapper {
    // border: 2px solid red;
    margin-top: 0.5rem;
    width: 160px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .centerPageWrapper {
    width: 100%;
    max-width: 1200px;
  }

  .rightPageWrapper {
    // border: 2px solid red;
    margin-top: 0.5rem;
    width: 160px;
  }
}

img {
  display: block;
}

a {
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ads-extended {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
    width: 100%;
  }
  .navbar {
    height: "auto" !important;

    img {
      height: 40px !important ;
      align-self: flex-start;
    }

    &-sub-header {
      .title {
        padding: 0 0.3rem;
        font-size: 0.8rem;
      }
    }
  }

  .close-icon {
    align-self: flex-start;
    width: 40px;
    left: 0;
  }
}
