.slide {
  // border: 1px solid red;
  width: 8.3rem;
  height: 7.5rem;
  text-align: center;

  img {
    display: inline-block;
    width: 5.875rem;
    height: 5.625rem;
  }

  .content {
    // border: 1px solid red;
    margin-top: 0.5rem;

    .name {
      font-size: 12px;
      font-weight: 600;
      color: var(--blueBgColor);
      transition: var(--transition);

      &.dark {
        color: var(--whiteBgColor)
      }
    }
  }
}
