.amblem-container {
    // border: 1px solid red;
    margin-top: 2.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .amblem-line {
      width: 45%;
      height: 2px;
      background-color: #e0e0e0;
    }
    
    .amblem {
      position: relative;
      height: 100%;
      width: 1.5rem;
    }
  }