.register {
    // border: 1px solid red;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    // padding-bottom: 2rem;
    display: flex;
    height: 35rem;

    &-form {
        //border: 1px solid red;
        flex-basis:50%;
        padding: 4rem 5rem;
        text-align: center;

        h3 {
            color: #0a5e8d;
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 3.5rem;
            transition: var(--transition);

            &.dark {
              color: var(--whiteBgColor);
            }
        }

        p {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
            line-height: 1.3;
            color: var(--textColor);
            transition: var(--transition);

            &.dark {
                color: var(--whiteBgColor);
            }
        }

        &-email,
        &-password {
            width: 100%;
            display: block;
            padding: 1rem 0.8rem;
            height: 2.5rem;
            border: 1px solid #0a5e8d;
            border-radius: 4px;
            margin-bottom: 1rem;
        }

        &-email::placeholder,
        &-password::placeholder {
            color: var(--textColor);
            font-size: 14px;
        }

        &-email:focus,
        &-password:focus {
            outline: none;
        }

        &-phones {
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;

            input {
                display: block;
                padding: 1rem 0.8rem;
                width: 13rem;
                height: 2.5rem;
                border: 1px solid #0a5e8d;
                border-radius: 3px;
                margin-bottom: 3.5rem;

                &::placeholder {
                    color : #333;
                }

                &:focus {
                    outline: none;
                }
            }  
        }

        button {
            height: 3rem;
            width: 14rem;
            background-color: #0a5e8d;
            border: none;
            border-radius: 4px;
            color: var(--whiteBgColor);
            letter-spacing: 1px;
            transition: var(--transition);

            &.dark {
                background-color: var(--subBgColor);
            }
        }
    }

    &-store {
        //border: 1px solid red;
        flex-basis: 50%;

        .mobile {
            // border: 1px solid red;
            position: relative;
            height: 26rem;
            width: 100%;
        }

        .information {
            // border:1px solid red;
            height: 9rem;
            width: 27rem;
            margin: 0 auto;

            p {
                font-size: 0.8rem;
                font-weight: 600;
                text-align: justify;
                text-align-last: center;
                margin-bottom: 0.75rem;
                color: var(--textColor);

                &.dark {
                    color: var(--whiteBgColor);
                }
            }

            .apps {
                position: relative;
                display: flex;
                justify-content: space-between;
                // height: 100%;
                // border: 1px solid red;

                .appStore {
                    position: absolute;
                    top: -4.7rem;
                    left: 0;
                }

                .googlePlay {
                    position: absolute;
                    top: -0.1rem;
                    left: 14rem;
                }
            }
        }
    }
}