.points {
  //border: 1px solid red;
  padding-top: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 700px;
  display: flex;

  &-left-section {

  &-logos {
      // border: 1px solid red;
      height: 80px;
      display: flex;
      justify-content: center;
      gap:  1rem;

      .logo-img {
        // border: 1px solid red;
        width: 75px;
        height: 75px;
        object-fit: contain;
        cursor: pointer;

        &.selected {
          border-bottom: 2px solid black;
        }
      }
    }

    &-points {
      // border: 1px solid red;
      max-height: 480px;
      width: max-content;
      overflow-y: scroll;
      margin-top: 1rem;

      .content-table {
        border-collapse: collapse;
        font-size: 0.75rem;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        overflow-y: hidden;
        height: 100%;
      }

      thead th {
        // border: 1px solid red;
        width: 54px;
        font-size: 0.75rem;
      }

      .content-table thead tr {
        background-color: var(--blueBgColor);
        color: #ffffff;
        text-align: left;
        font-weight: bold;

        .cat {
          width: 0.75rem;
        }
      }

      .content-table th,
      .content-table td {
        padding: 10px;
      }

      .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
      }

      .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
      }

      .content-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
      }
    }
  }

  &-right-section {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 1rem;

    .itemm {
      height: 220px;
      width: 260px;

      .img {
        width: 100%;
        object-fit: cover;
      }

      .caption {
        font-size: 0.75rem;
        margin-top: 0.5rem;
        font-weight: 600;
      }
    }
  }
}
